<header>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#">Rezeptbuch</a></li>
    <li role="presentation"><a href="#">Einkaufsliste</a></li>
    <li>
      <div class="dropdown" appDropdown>
        <button
          id="dLabel"
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
          class="btn btn-primary">
          Dropdown trigger
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#">Speichern</a></li>
          <li><a href="#">Laden</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
<hr>
